<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="TalariusChess" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
			connectionString="data source=Talarius;initial catalog=TalariusChess;user id=TalariusChess;password=TalariusChess;" />
	</connectionStrings>
	<appSettings>
		<add key="Environment" value="Prod" xdt:Transform="Replace" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>