@{
    ViewBag.Title = "Accept Game Failure";
}
<h2>Game Acceptamce Failure</h2>
<p>There was an error accepting this game. It has either already been accepted or you are attempting to accept the game on behalf of someone else.</p>