@{
    ViewBag.Title = "NonGameParticipant";
}

<h2>Non Game Participant</h2>

<p>You attempted to view a game in which you are not participating. If you would like to Kibitz, you'll have to wait until we provide that feature. At that time, we'll put a link here. :)</p>
