<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TalariusChess" connectionString="data source=(localdb)\Projects;initial catalog=TalariusChess;user id=Talarius;password=5nc1TWnih5Ir0vL2b6Rx;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="SMTPServer" value="localhost" />
		<add key="AdminEmail" value="donrolling@hotmail.com" />
		<add key="AutoLoginUser" value="true" />
		<add key="Environment" value="Local" />
		<!--Acceptable values: Local, Dev, Stage, Prod-->
		<add key="EmailPath" value="C:\Projects\Talarius\Chess\trunk\WebSiteTests\EmailReceipts" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.10827.0" newVersion="4.0.10827.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>