USE [master]
GO
/****** Object:  Database [Chess]    Script Date: 10/5/2012 1:56:03 PM ******/
CREATE DATABASE [Chess]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chess', FILENAME = N'C:\Users\drolling\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\v11.0\Chess.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chess_log', FILENAME = N'C:\Users\drolling\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\v11.0\Chess.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chess]
GO
/****** Object:  Table [dbo].[ChessGameData]    Script Date: 10/5/2012 1:56:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChessGameData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FEN] [varchar](100) NOT NULL,
	[PGN] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ChessGameDataHistory]    Script Date: 10/5/2012 1:56:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChessGameDataHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChessGameDataId] [int] NOT NULL,
	[Position] [nvarchar](44) NOT NULL,
	[CastlingAvailability] [nvarchar](4) NOT NULL,
	[EnPassantTargetSquare] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK__ChessGam__3214EC07C4F1FE40] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChessGameDataHistory]  WITH CHECK ADD  CONSTRAINT [FK_ChessGameDataHistory_ChessGameData] FOREIGN KEY([ChessGameDataId])
REFERENCES [dbo].[ChessGameData] ([Id])
GO
ALTER TABLE [dbo].[ChessGameDataHistory] CHECK CONSTRAINT [FK_ChessGameDataHistory_ChessGameData]
GO
USE [master]
GO
